# Variables de Configuración de la Aplicación
# Copia este archivo a .env y actualiza los valores según tu entorno

# URL base del API backend
NG_APP_API_URL=http://localhost:8090/api/

# Nombre de la aplicación
NG_APP_NAME=Prisma
